.usercertificate-main-body {
  min-height: 600px;
  width: 100%;
  /* background-color: rgb(255, 216, 216); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.usercertificate-sub-body {
  min-height: 500px;
  /* width: 70%; */
  width: 1000px;
  /* background-color: rgb(168, 83, 83); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usercertificate-title-sec {
  min-height: 100px;
  width: 100%;
  /* background-color: rgb(113, 168, 83); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.42rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.usercertificate-content-sec {
  min-height: 10px;
  width: 100%;
  /* background-color: rgb(240, 184, 44); */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  text-align: justify;
}
.usercertificate-download-btn-sec {
  min-height: 60px;
  width: 100%;
  /* background-color: rgb(240, 184, 44); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.usercertificate-download-button {
  background-color: rgb(255, 207, 213);
  border: 0;
  width: 180px;
  border-radius: 5px;
  height: 35px;
  display: flex;
  column-gap: 5px;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 0.8rem;
  align-items: center;
  cursor: pointer;
}
.usercertificate-download-img {
  width: auto;
  height: 20px;
}
@media screen and (max-width: 1100px) {
  .usercertificate-sub-body {
    min-height: 500px;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .usercertificate-content-sec {
    font-size: .9rem;
    font-weight: unset;
    text-transform: none;
  }
}
@media screen and (max-width: 450px) {
  .usercertificate-main-body {
    padding: 50px 0;
  }
}
