.loader-main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.284);
}

.dna {
  transform: rotate(90deg);
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(166, 255, 1); */
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
